{% extends "Shared/Layout.html" %} {% block username %}{{username}}{% endblock %}
{% block content %}
{% load static %}
{% comment %} {% csrf_token %} {% endcomment %}

 <!-- Custom styles for this html-->
 <link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/activebtn.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/shiftcheckbox.css' %}" rel="stylesheet" type="text/css" >
 
 <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
 <!-- Include DataTables CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
 <!-- Include DataTables JS -->
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

 
    <div class="container mt-5" style="max-width: 1800px;">
        <div class="card">
            <div class="card-body">
                
        <div class="row mb-3">
            <div class="col-md-12 text-center">
                <h2 style="color:#B12121;">
                    <u> Edit Shift Details</u>
                </h2>
            </div>
            
        </div>
        <form method="POST" action="{% url 'edit_slot_details' %}">
            {% csrf_token %}
            
            <!-- Shift Details -->
            {% for shift in shifts %}
            <div class="row mb-3">
                <input type="hidden" name="shift_id" value="{{ shift.shift_id }}" id="shift_id">
        
                <div class="col-md-3">
                    <label for="shift_date" class="form-label">Shift Date<span style="color:red;"> *</span> :</label>
                    <input type="date" name="shift_date" class="form-control" id="shift_date" value="{{ shift.shift_date|date:'Y-m-d' }}" required>
                </div>
        
                <div class="col-md-3">
                    <label for="start_time" class="form-label">Start Time<span style="color:red;"> *</span> :</label>
                    <input type="time" name="start_time" class="form-control" id="start_time" value="{{ shift.start_time }}" required>
                </div>
        
                <div class="col-md-3">
                    <label for="end_time" class="form-label">End Time<span style="color:red;"> *</span> :</label>
                    <input type="time" name="end_time" class="form-control" id="end_time" value="{{ shift.end_time }}" required>
                </div>
        
                <div class="col-md-3">
                    <label for="night_shift" class="form-label">Night Shift:</label>
                    <input type="checkbox" class="nightShiftCheckbox" name="night_shift_add" id="night_shift" {% if shift.night_shift %}checked{% endif %}>
                </div>
            </div>
            {% endfor %}
        
            <!-- Notification Setting Section -->
            <br/>
            <div class="row mb-3">
                <div class="col-md-12 text-center">
                    <h2 style="color:#B12121;">
                        <u>Edit Notification Setting</u>
                    </h2>
                </div>
            </div>
        
            <div class="row mb-3">
                <input type="hidden" name="setting_id" value="{{ setting_detail.id }}" id="sid">
                
                <div class="col-md-3">
                    <label for="notification_start_time" class="form-label">Notification Start Date<span style="color:red;"> *</span> :</label>
                    <input type="date" name="notification_start_time" class="form-control" id="notification_start_time" value="{{ setting_detail.noti_start_time|date:'Y-m-d' }}" required>
                </div>
        
                <div class="col-md-3">
                    <label for="notification_end_time" class="form-label">Notification End Date<span style="color:red;"> *</span> :</label>
                    <input type="date" name="notification_end_time" class="form-control" id="notification_end_time" value="{{ setting_detail.noti_end_time|date:'Y-m-d' }}" required>
                </div>
        
                <div class="col-md-3">
                    <label for="number_of_notifications" class="form-label">Number of Notifications<span style="color:red;"> *</span> :</label>
                    <input type="number" name="number_of_notifications" class="form-control" id="number_of_notifications" value="{{ setting_detail.no_of_notification }}" placeholder="Enter Number of Notifications" min="1" max="99" required>
                </div>
                
                <div class="col-md-3">
                    <label for="notification_interval_hours" class="form-label">Interval (Hours)<span style="color:red;"> *</span> :</label>
                    <input type="number" name="notification_interval_hours" class="form-control" id="notification_interval_hours" value="{{ setting_detail.interval }}" placeholder="Enter Interval in Hours" min="1" max="99" required>
                </div>
            </div>
        
            <div class="text-center">
                <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
            </div>
        </form>
        

</div>
</div>


{% if messages %}
  {% for message in messages %}
    <script>
    Swal.fire({
      title: "{{ message.tags }}",
      text: "{{ message }}",
      icon: "{{ message.tags }}",
      confirmButtonText: "OK",
    });
  </script>
  {% endfor %}
{% endif %}
    


 {% endblock %} 